/***************************************
 * 	ESTILOS PARA EL TABLERO MULTIJUGADOR
 ****************************************/


/*Aqui seteo el tipo de Tipografia */
@font-face {
    font-family: myFirstFont;
    src: url(../font/ComicRelief.ttf);
}


header > div{
    height: 155px;
    margin: 0px auto;
    width: 460px;
}


/*estilo para el display del jugador*/
.jugador{
    width: 90px;
    height: 68px;
    float: left;
    margin-left: 75px;
}

/*estilo para el display de la maquina*/
.oponente{
    width: 120px;
    height: 68px;
    float: left;
    margin-left: 170px;
}

/*estilo para el display del turno*/
.turno{
    width: 115px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 185px;
}

/*estilo para el tablero del juego*/
table
{
    border-collapse:collapse;
    margin: 0px auto;
    margin-top: 0px;
}

/*estilo para el tablero del juego*/
table, td, th
{
    border:1px solid #0648C4;
}

/*estilo para la ficha de retroceso*/
.ficha{
    padding: 50px;
}

/*estilo para el tablero en donde se configura el margen top*/
body > section {
    /*position: absolute;
    top: 160px;*/
}


/*estilo hover para el td*/
td:hover{
    cursor: pointer;
}


td > input{
	padding: 1px;
}


/*estilo para el display del juegador,  aqui se cambia la fuente*/
div[class="jugador"] > div{
    font-family: myFirstFont;
    font-size: 130%;
}

/*estilo para el display de la maquina, aqui se cambia la fuente*/
div[class="oponente"] > div{
    font-family: myFirstFont;
    font-size: 130%;   
}

/*estilo para el display del turno, aqui se cambia la fuente*/
div[class="turno"] > div{
    font-family: myFirstFont;
    font-size: 130%;   
}

/*estilo para ficha de retroceso*/
.flecha{
    margin: 0px auto;
    width: 91px;
    margin-top: 30px;
}

/*estilo para la ficha de retroceso aqui se coloca la imagen*/
.flecha_selec{
    background-image:url('../img/icono1.png');
    background-repeat:no-repeat;
    border-radius: 10px;
    width: 83px;
    height: 76px;
}

/*estilo para cambiar la imagen de retroceso cada vez que se selecciona*/
/*.flecha_selec:hover{
    background-image:url('../img/atras_naranja.png');
}*/

