/*ARCHIVO QUE CONTIENE LOS ESTILOS PARA LA VENTANA DE LA SELECCION DE FICHAS*/
/*===============ESTILOS DE LA VENTANA DE SELECCION DE FICHAS===============*/

/*Aqui seteo el tipo de tipografia*/
@font-face {
    font-family: myFirstFont;
    src: url(../font/ComicRelief.ttf);
}

header > div[id="bannerseleccion"] > div{
    margin: 0 auto 0 auto;
    text-align:center;
}


/*estilo para el titulo de la ventana*/
header > div[id="bannerseleccion"] > div > h1{
	font-family: myFirstFont;
    font-size: 250%;
    color: #0648C4;
}

/*estilo para el banner*/
header > div[id="bannerseleccion"]{
	margin-top: 30px;
}


section[id="containerSeleccion"] > div{
    margin: 0px auto;
    text-align: center;
    width: 230px;
    height: 500px;
}



/*estilo para el contenedor que contiene las fichas del juego*/
section[id="containerSeleccion"] > div > div[id="content_seleccion"]{
    width: 230px;
    height: 500px;
}


/*estilos para la ficha cruz*/
.iconCruz{
    width: 140px;
    height: 140px;
    border-radius: 3px;
    margin: 0px auto;
    padding-top: 80px;
}

/*estilo para la ficha circulo*/
.iconCirculo{
    width: 140px;
    height: 140px;
    border-radius: 3px;
    margin: 0px auto;
    padding-top: 80px;
}


/*estilo para la ficha de retroceso*/
.flecha{
    margin: 0px auto;
    padding-top: 90px;
}


/*estilo por el cual se carga la imagen de la ficha cruz*/
.cruz{
    background-image:url('../img/cruz.png');
    background-repeat:no-repeat;
    border-radius: 10px;
    width: 141px;
    height: 140px;
}


/*estilo por el cual se carga la imagen de la ficha circulo*/
.circulo{
    background-image:url('../img/circulo.png');
    background-repeat:no-repeat;
    border-radius: 10px;
    width: 141px;
    height: 140px;
}

/*estilo de la ficha de retroceso se setea aqui la imagen*/
.flecha_selec{
    background-image:url('../img/atras.png');
    background-repeat:no-repeat;
    border-radius: 10px;
    width: 141px;
    height: 62px;
}


/************************************************************************
***********************AQUI UTILIZANDO MEDIA-QUERY***********************
*************************************************************************/
/**/
@media screen and (min-height: 1280px)  {


    header > div[id="bannerseleccion"] > div > h1{
        font-family: myFirstFont;
        font-size: 250%;
        color: #0648C4;
        margin-top: 85px;
    }

    section[id="containerSeleccion"] > div{
        margin: 0px auto;
        text-align: center;
        width: 230px;
        height: 590px;
        margin-top: 170px;
    }


    section[id="containerSeleccion"] > div > div[id="content_seleccion"]{
        width: 230px;
        height: 500px;
    }

    .flecha{
        margin-top: 80px;
        margin: 0px auto;
        padding-top: 100px;
    }


}
