/*ARCHIVO QUE CONTIENE LOS ESTILOS PARA LA VENTANA DEL TABLERO DE JUEGO*/
/*========================ESTILOS DEL TABLERO DEL JUEGO================*/


/*Aqui seteo el tipo de Tipografia */
@font-face {
    font-family: myFirstFont;
    src: url(../font/ComicRelief.ttf);
}


/*estilo para el display del jugador*/
.jugador{
    /*position: absolute;*/
    float:left;
    width: 61px;
    height: 68px;
    padding: 20px;
    margin-left: 55px;
    /*top: 25px;
    left: 50px;*/
}

/*estilo para el display de la maquina*/
.oponente{
    /*position: absolute;*/
    float: left;
    width: 61px;
    height: 68px;
    padding: 20px;
    margin-left: 150px;
    /*top: 25px;
    left: 378px;*/
}

/*estilo para el display del turno*/
.turno{
   /* position: absolute;*/
    width: 115px;
    height: 20px;
    margin-top: 120px;
    margin-left: 175px;
    /*left: 188px;
    top: 115px;*/
}

/*estilo para el tablero del juego*/
table
{
    border-collapse:collapse;
    margin-top: 10px;
}

/*estilo para el tablero del juego*/
table, td, th
{
    border:1px solid #0648C4;
}

/*estilo para la ficha de retroceso*/
.ficha{
    padding: 50px;
}


/*Aqui determino el estilo para la table para que se adapte a distintas resoluciones de pantalla*/
section[id="tablero"] > table[id="juego"]{
    margin: 0px auto;
}

/*estilo hover para el td*/
td:hover{
    cursor: pointer;
}

/*estilo para el display del juegador,  aqui se cambia la fuente*/
div[class="jugador"] > div{
    font-family: myFirstFont;
    font-size: 130%;
}

/*estilo para el display de la maquina, aqui se cambia la fuente*/
div[class="oponente"] > div{
    font-family: myFirstFont;
    font-size: 130%;   
}

/*estilo para el display del turno, aqui se cambia la fuente*/
div[class="turno"] > div{
    font-family: myFirstFont;
    font-size: 130%;   
}

/*estilo para ficha de retroceso*/
.flecha{
    margin: 0px auto;
    width: 140px;
    margin-top: 70px;
}

/*estilo para la ficha de retroceso aqui se coloca la imagen*/
.flecha_selec{
    background-image:url('../img/atras.png');
    background-repeat:no-repeat;
    border-radius: 10px;
    width: 141px;
    height: 62px;
}

/*estilo para cambiar la imagen de retroceso cada vez que se selecciona*/
.flecha_selec:hover{
    background-image:url('../img/atras_naranja.png');
}


/*Aqui acomodo el panel superior para que se adapte a distintas resoluciones de pantalla*/
header > div[id="content_header"]{
    border: 1px solid #FFF;
    width: 464px;
    height: 149px;
    margin: 0px auto;
}